/* css document */
html, body {
    margin: 0;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    background-color: #CCC;
}

.sidebar {
    position: absolute;
    top: 50px;
    left: -340px;
    background-color: rgba(53, 70, 158, 0.67);
    color: #fff;
    width: 300px;
    bottom: 0;
    padding: 20px;
	/* v1- create transition effect */
	transition: 1s ease-in-out;
}

.sidebar-content {
    overflow-y: auto;
    height: 100%;
}

.sidebar .place-item {
    padding: 4px;
    font-size: 17px;
    font-family: sans-serif;
    border-bottom: 1px solid #aaa;
    padding-right: 25px;
    white-space: nowrap;
    overflow: hidden;
    width: 89%;
    text-overflow: ellipsis;	
	transition: 0.3s ease-in-out;
    position: relative;
}

.sidebar .place-item:hover {
    background-color: #66A3CF;
}

.sidebar .place-item .rating {
    right: 3px;
    display: inline-block;
    position: absolute;
    font-size: 12px;
    border-radius: 50%;
    background-color: rgb(255, 240, 29);
    color: #111;
    padding: 2px;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.5;
}

.searchbar {
    position: absolute;
    top: -50px;
    left: 420px;
    background-color: rgba(53, 70, 158, 0.67);
    color: #fff;
    width: 200px;
    padding: 20px;
}

.image-box {
    position: absolute;
    height: 150px;
    overflow: hidden;
    /* width: 10000px; */
    bottom: 0;
    left: 340px;
}

.notify {
    display: none;
    position: absolute;
    top: 68px;
    left: 45%;
    width: 200px;
    background: #FFF8D0;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #888;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.55);
	z-index:1000;
}

.notify.ok {
    background: #CDFFD2;
}

.notify.error {
    background: #FFCBCB;
}
/* v2- add toggle to move sidebar in and out */
.sidebar-toggle {
	background-image: url(https://d3u3u7bjn61hwm.cloudfront.net//images/icon-settings-gray-9d522.svg);
width: 34px;
    height: 34px;
    background-color: rgba(46, 61, 73, 0.61);
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 10px;
    background-repeat: no-repeat;
    background-position: center;
	transition: 1s ease-in-out;
}
.sidebar-toggle.show-sidebar {
	left: 320px;
}

/* v2 - disappear sidebar */
.sidebar.show-sidebar {
	left: 0;
}


/* v2-media max-width method. hides the sidebar < 700px */
@media (max-width:700px) {
	.sidebar {
		left: -340px;
	}
	
	.searchbar {
		background-color: transparent;
		padding: 5px 10px;
		position:relative;
		left: 0;
		top: 0;
}
